h1{
    color: white;
    background-color: #004175;
    padding: 2rem;
    border-bottom: .25rem solid;
    border-color: #89DEEF;
    font-family: "Open Sans";
}
body {
    font-family: "Open Sans";
    padding: white;
}

h2 {
    font-family: "Oswald"
}

li {
    list-style: none;
    display: inline;
    background-color: #89DEEF;
    border-radius: 5em;
}