h1{
    color: white;
    background-color: #004175;
    padding: 1rem;
    border-bottom: .25rem solid;
    border-color: #89DEEF;
    font-family: "Open Sans";
}
body {
    font-family: "Open Sans";
}

h2 {
    font-family: "Oswald"
}

li {
    list-style: none;
    display: inline;
    padding: .25rem 0.5
}