h1{
    color: white;
    background-color: #004175;
    padding: 2rem;
    border-bottom: .25rem solid;
    border-color: #89DEEF;
    font-family: "Open Sans";
}
body {
    font-family: "Open Sans";
    padding: white;
}

#dog {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    font-family: "Oswald"
}

.dog-profile {
    width: 20rem;
}

.dog-picture img {
    width: 100%;
}

.dog-lists ul {
    flex-wrap: wrap;
}

.dog-lists li {
    font-family: "Open Sans";
    line-height: 2rem;
    flex-wrap: wrap;
    list-style: none;
    display: inline;
    background-color: #89DEEF;
    border-radius: 1rem;
    padding: .25rem 0.5rem;
    width: 100%;
}

footer {
    font-family: "Open Sans";
    color: white;
    background-color: #A6A9F0;
}